/* 
Dark Navy : #363062
Marine gray : #435585
light marine : #818FB4
bache : #F5E8C7
*/

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #F5E8C7;
}

/* Mobile devices */
@media (max-width: 480px) { 

}

/* Tablets */
@media (min-width: 481px) and (max-width: 768px) {

}

/* Small Laptops */
@media (min-width: 769px) and (max-width: 1024px) { 

}

/* Desktops */
@media (min-width: 1025px) { 

}

.everything {
    /* enables the use of Flexbox propteries */
    display: flex;
    /* flows the direction of the items by columns than rows */
    flex-direction: row;
    /* Centers the flex items inside horizontally  */
    justify-content: center;
    /* Centers the flex items inside vertically  */
    align-items: center;
    /* ensures the items in flex container has enough space responsively */
    height: 100vh;
}

.info-box {
    width: 25%;
    height: 80%;
    background-color: #363062;
    margin: 0% 3% 0% 3%;
    border-radius: 10px;
}

.history-box {
    width: 25%;
    height: 80%;
    background-color: #363062;
    margin: 0% 3% 0% 3%;
    border-radius: 10px;
}

.main-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    background-color: #F5E8C7;
    margin: 0% 3% 0% 3%;
}

.calculator-box {
    width: 334px;
    background-color: #363062;
    height: 394px;
    border-radius: 10px;
}

.author {
    width: 334px;
    height: 44px;
    text-align: center;
    margin-top: 10px;
}

